@charset "UTF-8";
#wrap {
  width:1200px;margin:0 auto;
}

#wrap #header {
  width:100%;height:100px;display:flex;position:relative;z-index:3;
}
#wrap #header .left  {
  width:180px;height:100px;display:flex;
}
#wrap #header .left h1 {
  width:100%;margin:32.5px 0;
}
#wrap #header .left h1 a img {
  width:100%;
}
#wrap #header .right {
  width:1020px;height:100px;
}
#wrap #header .right #nav {
  width:700px;margin:25px 25px 25px auto;
}
#wrap #header .right #nav > ul {
  width:100%;display:flex;
}
#wrap #header .right #nav > ul > li {
  width:25%;
}
#wrap #header .right #nav > ul > li > a {
  width:100%;background:#fff;display:block;text-align:center;line-height:50px;color:#333;transition:all .3s;
}
#wrap #header .right #nav > ul > li > a:hover {
  background:#0066ad;color:#fff;
}
#wrap #header .right #nav > ul > li > a.on {
  background:#0066ad;color:#fff;
}

/* 서브메뉴 */
#wrap #header .right #nav > ul > li > .sub {
  width:100%;background:#fff;display:none;
}
#wrap #header .right #nav > ul > li > .sub ul {
  width:100%;
}
#wrap #header .right #nav > ul > li > .sub ul li {
  width:100%;
}
#wrap #header .right #nav > ul > li > .sub ul li a {
  display:block;width:100%;line-height:35px;text-align:center;color:#333;background:#fff;
}
#wrap #header .right #nav > ul > li > .sub ul li a:hover {
  color:#fff;background:#30a3f3;
}


#wrap #main {
  width:100%;position:relative;z-index:2;
}
#wrap #main #section1 {
  width:100%;height:300px;background-color:rgba(150,150,0, .5);
}
#wrap #main #section1 .slide-container {
  width:100%;position:relative;
}
#wrap #main #section1 .slide-container .slide-view {
  width:100%;position:relative;overflow:hidden;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap {
  width:500%;display:flex;margin-left:-100%;position:relative;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide {
  width:100%;height:300px;background:url() no-repeat 50% -100px;background-size:cover;display:flex;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide1 {
  background-image:url(../img/wedding-img13.jpg);
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide2 {
  background-image:url(../img/wedding-img14.jpg);
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide3 {
  background-image:url(../img/wedding-img15.jpg);
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide h2 {
  font-size:36px;
  color:#fff;
  font-weight:600;
  text-align:center;
  line-height:70px;
  background-size:cover;
  margin:auto 0;
  user-select:none;
  width:100%;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide1 h2 {background:rgba(250,0,0, .3);margin:auto 0;user-select:none;width:100%;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide2 h2 {background:rgba(0,250,0, .3);margin:auto 0;user-select:none;width:100%;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide3 h2 {background:rgba(0,0,250, .3);margin:auto 0;user-select:none;width:100%;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide h2 em {font-size:56px;vertical-align:baseline;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide h2 em strong {font-size:56px;vertical-align:baseline;}





/* 공지사항 */

#wrap #main #section2 {
  width:100%;height:200px;display:flex;background:#fff;
}
#wrap #main #section2 .left {
  width:33.333%;height:200px;
}
#wrap #main #section2 .left .gap {
  width:100%;height:100%;position:relative;padding:36px 0 0 0;
}
#wrap #main #section2 .left .gap button {
  width:100px;height:35px;border:1px solid #ccc;border-bottom:0;position:absolute;top:2px;border-radius:5px 5px 0 0;
}
#wrap #main #section2 .left .gap button.notice-btn {
  background:#fff;left:10px;z-index:3;cursor:default;
}
#wrap #main #section2 .left .gap button.gallery-btn {
  background:#e0e0e0;left:110px;z-index:1;cursor:pointer;transition:all .3s;
}
#wrap #main #section2 .left .gap button.gallery-btn:hover {
  background:#f0f0f0;
}

#wrap #main #section2 .left .gap button.notice-btn.on {
  background:#e0e0e0;z-index:1;cursor:pointer;transition:all .3s;
}
#wrap #main #section2 .left .gap button.notice-btn.on:hover {
  background:#f0f0f0;
}
#wrap #main #section2 .left .gap button.gallery-btn.on {
  background:#fff;z-index:3;cursor:default;
}

#wrap #main #section2 .left .gap .notice-box {
  width:100%;height:164px;border:1px solid #ccc;position:relative;z-index:2;
}
#wrap #main #section2 .left .gap .notice-box .notice-gap {
  padding:15px 10px;
}
#wrap #main #section2 .left .gap .notice-box .notice-gap ul {
  width:100%;
}
#wrap #main #section2 .left .gap .notice-box .notice-gap ul li {
  width:100%;line-height:33px;padding:0 90px 0 13px;position:relative;
}
#wrap #main #section2 .left .gap .notice-box .notice-gap ul li a {
  display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:14px;width:100%;transition:all .3s;
}
#wrap #main #section2 .left .gap .notice-box .notice-gap ul li a:before {
  content:'';display:block;width:3px;height:3px;background:#333;position:absolute;left:0;top:50%;margin-top:-1.5px;
}
#wrap #main #section2 .left .gap .notice-box .notice-gap ul li a:hover {
  color:#39c;
}
#wrap #main #section2 .left .gap .notice-box .notice-gap ul li span {
  display:inline-block;font-size:14px;position:absolute;right:0;top:0;
}
/* 공지사항 박스 */

#wrap #main #section2 .left .gap .notice-box {display:block;}
#wrap #main #section2 .left .gap .notice-box.on {display:none;}



/* 갤러리 */

#wrap #main #section2 .left .gap .gallery-box {
  display:none;
  width:100%;
  height:100%;
  background:#fff;
  border:1px solid #ccc;
}
#wrap #main #section2 .left .gap .gallery-box.on {
  display:block;
}
#wrap #main #section2 .left .gap .gallery-box .gallery-gap {
  padding:20px 5px;
}
#wrap #main #section2 .left .gap .gallery-box .gallery-gap ul {
  width:100%;
  display:flex;
}
#wrap #main #section2 .left .gap .gallery-box .gallery-gap ul li {
  width:33.333%;
}
#wrap #main #section2 .left .gap .gallery-box .gallery-gap ul li .img-gap {
  padding:0 5px;
}
#wrap #main #section2 .left .gap .gallery-box .gallery-gap ul li .img-gap .img-bg {
  width:100%;
  height:122px;
  background:url() no-repeat 50% 50%;
  background-size:cover;
  border:1px solid #ccc;border-radius:10px;
}
#wrap #main #section2 .left .gap .gallery-box .gallery-gap ul li:nth-child(1) .img-gap .img-bg {
  background-image:url(../img/wedding-img13.jpg);
}
#wrap #main #section2 .left .gap .gallery-box .gallery-gap ul li:nth-child(2) .img-gap .img-bg {
  background-image:url(../img/wedding-img14.jpg);
}
#wrap #main #section2 .left .gap .gallery-box .gallery-gap ul li:nth-child(3) .img-gap .img-bg {
  background-image:url(../img/wedding-img15.jpg);
}


/* 배너박스 */

#wrap #main #section2 .center {
  width:33.333%;
  height:200px;
}
#wrap #main #section2 .center .gap {
  padding:2px 0 0 10px;
  height:100%;
}
#wrap #main #section2 .center .gap .banner-box {
  width:100%;
  height:100%;
  border:1px solid #ccc;
}
#wrap #main #section2 .center .gap .banner-box .title {
  width:100%;
  height:34px;
  display:flex;
  background:#f0f0f0;
}
#wrap #main #section2 .center .gap .banner-box .title h2 {
  font-size:17px;
  font-weight:700;
  text-align:center;
  margin:auto 0;
  width:100%;
  color:#0066ad;
  text-transform:uppercase;
}
#wrap #main #section2 .center .gap .banner-box .img-box {
  width:100%;
  height:164px;
  border:1px solid #ccc;
}
#wrap #main #section2 .center .gap .banner-box .img-box ul {
  width:100%;
  height:100%;
}
#wrap #main #section2 .center .gap .banner-box .img-box ul li {
  width:100%;
  height:50%;
}
#wrap #main #section2 .center .gap .banner-box .img-box ul li .img-gap {
  padding:5px 0;
  height:100%;
}
#wrap #main #section2 .center .gap .banner-box .img-box ul li .img-gap .img-bg {
  width:100%;
  height:100%;
  background:url() none 50% 50%;
  background-size:cover;
  display:flex;
}
#wrap #main #section2 .center .gap .banner-box .img-box ul li:nth-child(1) .img-gap .img-bg {
  background-image:url(../img/slide1.jpg);
  filter:brightness(80%);
  transition:all .3s;
}
#wrap #main #section2 .center .gap .banner-box .img-box ul li:nth-child(2) .img-gap .img-bg {
  background-image:url(../img/slide3.jpg);
  filter:brightness(80%);
  letter-spacing:-1px;
  transition:all .3s;
}
#wrap #main #section2 .center .gap .banner-box .img-box ul li .img-gap .img-bg h3 {
  text-align:center;
  color:#fff;
  margin:auto 0;
  width:100%;
  font-weight:600;
}
#wrap #main #section2 .center .gap .banner-box .img-box ul li:hover .img-gap .img-bg {
  filter:brightness(100%);
}


/* 바로가기 */

#wrap #main #section2 .right {
  width:33.333%;
  height:200px;
}
#wrap #main #section2 .right .gap {
  padding:2px 0 0 10px;
  height:100%;
}
#wrap #main #section2 .right .gap .link-box {
  width:100%;
  height:100%;
  border:1px solid #ccc;
}
#wrap #main #section2 .right .gap .link-box .title {
  width:100%;
  height:34px;
  display:flex;
  background:#f0f0f0;
}
#wrap #main #section2 .right .gap .link-box .title h2 {
  font-size:17px;
  font-weight:700;
  text-align:center;
  text-transform:uppercase;
  width:100%;margin:auto 0;
  color:#0066ad;
}
#wrap #main #section2 .right .gap .link-box .img-box {
  width:100%;
  height:164px;
  border:1px solid #ccc;
}
#wrap #main #section2 .right .gap .link-box .img-box ul {
  width:100%;
  height:100%;
}
#wrap #main #section2 .right .gap .link-box .img-box ul li {
  width:100%;
  height:33.333%;
}
#wrap #main #section2 .right .gap .link-box .img-box ul li .img-gap {
  padding:5px 0;
  height:100%;
}
#wrap #main #section2 .right .gap .link-box .img-box ul li .img-gap .img-bg {
  width:100%;
  height:100%;
  background:url() no-repeat 50% 50%;
  background-size:cover;
  display:flex;
}
#wrap #main #section2 .right .gap .link-box .img-box ul li .img-gap .img-bg h3 {
  width:100%;
  text-align:center;
  font-weight:600;
  color:#fff;
  margin:auto 0;
}
#wrap #main #section2 .right .gap .link-box .img-box ul li:nth-child(1) .img-gap .img-bg {
  background-image:url(../img/icon3.jpg);
}
#wrap #main #section2 .right .gap .link-box .img-box ul li:nth-child(2) .img-gap .img-bg {
  background-image:url(../img/icon1.jpg);
}
#wrap #main #section2 .right .gap .link-box .img-box ul li:nth-child(3) .img-gap .img-bg {
  background-image:url(../img/icon2.jpg);
}




#wrap #footer {
  width:100%;
  height:100px;
  display:flex;
  position:relative;
  background:#f0f0f0;
  z-index:1;
}
#wrap #footer .left {
  width:180px;
  height:100px;
}
#wrap #footer .left {
  width:180px;
  height:100px;
  display:flex;
}
#wrap #footer .left h1 {
  width:100%;
  margin:32.5px 0;
}
#wrap #footer .left h1 a img {
  width:100%;
  filter:grayscale(100%);
  opacity:.8;
}

#wrap #footer .right {
  width:1020px;
  height:100px;
}
#wrap #footer .right .top {
  width:100%;
  height:50px;
  text-align:center;
  line-height:50px;
}
#wrap #footer .right .top span {
  margin:0 2px;
}
#wrap #footer .right .top span a {
  color:#555;
}
#wrap #footer .right .top span a:hover {
  color:#000;
  text-decoration:underline;
}

#wrap #footer .right .bottom {
  width:100%;
  height:50px;
  font-size:13px;
  text-align:center;
  line-height:130%;
}
#wrap #footer .right .bottom h2 {
  color:#555;
}
#wrap #footer .right .bottom address {
  color:#555;
}
#wrap #footer .right .bottom p {
  padding:0 0 10px 0;
  font-size:11px;
  color:#555;
}

/*팝업창(모달창)*/

#wrap #modal {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0, .6);
  z-index:4;
  display:none;
}
#wrap #modal .container {
  width:800px;
  height:auto;
  position:relative;
  margin:0 auto;
  background:#fff;
  top:50%;
  margin-top:-341.8985px;
}
#wrap #modal .container ul {
  padding:30px;
}
#wrap #modal .container ul li {
  line-height:40px;
  border-bottom:1px solid #ccc;
  display:flex;
}
#wrap #modal .container ul li:first-child {
  line-height:70px;
  border-top:1px solid #111;
  background:#f4f4f4;
}
#wrap #modal .container ul li h1 {
  font-size:20px;
  color:#111;
  font-weight:500;
  padding:0 0 0 15px;
}
#wrap #modal .container ul li span:nth-child(1) {
  display:block;
  width:15%;
  background:#f4f4f4;
  color:#333;
  text-align:center;
}
#wrap #modal .container ul li span:nth-child(2) {
  display:block;
  width:85%;
  background:#fff;
  padding:0 0 0 15px;
}
#wrap #modal .container ul li:nth-child(5) {
  display:block;
}
#wrap #modal .container ul li .contents {
  text-align:center;
  padding:20px 0 30px 0;
}
#wrap #modal .container ul li .contents h2 {
  font-size:16px;
  color:#333;
}
#wrap #modal .container ul li .contents .img-box {
  padding:10px 0 0 0;
}
#wrap #modal .container ul li .contents .img-box img {
  width:450px;
}
#wrap #modal .container ul li:last-child {
  border-bottom:0;
  padding:20px 0;
  text-align:right;
  display:block;
}
#wrap #modal .container ul li:last-child button {
  width:80px;
  height:35px;
  border:1px solid #ccc;
  cursor:pointer;
}
#wrap #modal .container ul li:last-child button:hover {
  background:#fcfcfc;
}
